# EMAC - Gestion du Personnel
# Requirements Python pour l'application

# Interface graphique
PyQt5==5.15.10

# Base de données
mysql-connector-python==8.4.0

# Manipulation de données
pandas==2.2.2

# Export Excel
openpyxl==3.1.5

# Export PDF
reportlab==4.2.2

# Documents Office
python-docx==1.1.2
python-pptx==0.6.23
odfpy==1.4.1
pypandoc==1.13

# Sécurité - Système d'authentification
bcrypt==4.1.2

# Variables d'environnement
python-dotenv==1.0.0
